
.brand-logo {
    padding-left: 15px !important;
}

.sidenav{
    top: auto;
    width: 250px;
}

.main_cards {
    padding: 20px;
}

.delete_icon{
    right: 60px !important;
}

.viewIcon{
    right: 105px !important;
}

.actual_balance_font{
    font-size: 45px;
}

.actual_balance_font_bold{
    font-weight: 700 !important;
}

.form_login{
    margin-top: 100px;
}

.controlButtonsTable{
    display: flex;
    justify-content: space-between;
}

.filterDates{
    display: flex;
    align-items: center;
}

.container {
    padding: 10px;
    border: 1px solid #aaa9a9;
    background: #d9d9d9;
    border-radius: 5px;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}


@media only screen and (min-width: 992px)  {
    .sidenav{
        width: 300px;
    }
    .main_cards {
        margin-top: 15px;
        padding: 0;
    }
}


@media only screen and (min-width: 1400px)  {
  .sidebar_container{
    width: 20% !important;
  }
}
