
.brand-logo {
    padding-left: 15px !important;
}

.sidenav{
    top: auto;
    width: 23%;
}

.sidenav-trigger > i {
    font-size: 45px;
}

.main_cards {
    padding: 20px;
}

.delete_icon{
    right: 60px !important;
}

.nav-wrapper {
    background: linear-gradient(to right, rgb(5, 0, 144) , rgb(70, 175, 255));
  }

.action_buttons {
    display: flex;
    justify-content: space-evenly;
}

.viewIcon{
    right: 105px !important;
}

#newButton:hover {
    background-color: #2658c8 !important;
}

.actual_balance_font{
    font-size: 45px;
}

.actual_balance_font_bold{
    font-weight: 700 !important;
}

.form_login{
    margin-top: 100px;
}

.controlButtonsTable{
    display: flex;
    justify-content: space-between;
}

.filterDates{
    display: flex;
    align-items: center;
}

.buttonLogin, .buttonReset{
    margin-bottom: 40px;
}

.textResetPassword{
    font-size: 20px;
    font-weight: lighter;
}

.container {
    padding: 10px;
    border: 1px solid #aaa9a9;
    background: #d9d9d9;
    border-radius: 5px;
    margin-top: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}


.modal-content > label {
    position: relative !important;
}

.dataTable {
    width: 100% !important;
}

#registerButton{
    margin-bottom: 30px;
}

.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat {
    font-size: 0.8rem !important;
    padding: 0 5px;
  }



@media only screen and (max-width: 684px)  {
    .resetLink {
        display: inline;
    }
    #textButton{
        display: none;
    }
    .btn_icon{
        margin: 0 10px 0 0px;
        padding-right: 33px;
    }
}

@media only screen and (min-width: 685px){
    .icon_goal{
        float: right !important;
        margin-left: 10px;
    }
}


@media only screen and (min-width: 992px)  {
    .main_cards {
        margin-top: 15px;
        padding: 0;
    }
    .resetLink{
        display: none;
    }

}

@media only screen and (min-width: 992px)  {

}

@media only screen and (max-width: 800px)  {
    .controlButtonsTable {
        display: flex;
        flex-direction: column;
    }
}



@media only screen and (min-width: 1400px)  {
  .sidebar_container{
    width: 20% !important;
  }
}
